<div [class.hidden]="hidden" class="add-contact-modal">
  <div class="all-content-cover">
    <form>
      <p>Name</p>
      <input #name class="input" type="text" />
      <p>Tel</p>
      <input #tel class="input" type="text" />
      <button
      #submitBtn
        type="submit"
        class="btn"
        (click)=" 
          onSubmit(name.value, tel.value); name.value = ''; tel.value = ''
         "
      >
        ADD
      </button>
    </form>
    <button class="close-button" (click)="hidden = true">CLOSE</button>
    <p #error class="error">{{errorMsg}}</p>
    <p>{{contacts$ | async}}</p>
  </div>
</div>
